* {
  font-family: sans-serif;
}
html {
  background-color: rgb(228, 225, 200)
}

ol li {
  margin: 5px;
}

table.resultados {
  border: 3px solid rgb(32, 173, 95);
  background-color: cyan;
}

table.tabla_array {
  background-color: rgb(32, 173, 95);
}

th, td {
  border: 1px solid rgb(32, 173, 95);
  text-align: left;
}

th {
  background-color: rgb(187, 73, 42);
  color : white;
  padding: 5px;
}

td {
  background-color: rgb(228, 225, 200);
  padding: 2 5px;
}

.error {
  background-color: rgb(195, 7, 7);
  color: rgb(191, 195, 7);

}
